# PowerShell-specific
*.ps1xml
*.psd1
*.psm1
*.pssc
*.psc1
*.ps1proj
*.ps1~ # Backup files
*.psess # PowerShell session files


# Visual Studio Code specific files
.vscode/
ProxyCmdletDefinitions.ps1

# User-specific files
*.ps1.user

# Output files
*.log
*.htm
*.html

# Directory-specific
bin/
obj/
